# Ignore virtual environment
.venv/
venv/

# Ignore data files (large or private datasets)
data/
*.csv
*.xlsx

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
